@use 'mixins';

// Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$overlay-color: rgba(0, 255, 255, 0.587);

$base-padding: 1.5rem;
$base-card-width: 21.875rem;
$image-dimensions: 18.875rem;
$avatar-image: 2.0625rem;
$border-radius: 0.5rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    @include mixins.flex-row($justify-content: center);
    min-height: 100svh;
    background-color: $main-bg;
    font-family: 'Outfit';
    padding: 0;
    margin: 0;
}

.card {
    padding: $base-padding;
    width: $base-card-width;
    color: white;
    background-color: $card-bg;
    border-radius: 0.9375rem;

    h3{
        font-weight: 600;
        &:hover{
            color: $cyan;
            cursor: pointer;
        }
    }

    hr{
        border: 1px solid $line;
    }

    p {
        color: $soft-blue;
        font-weight: 300;
    }    

    svg{
        align-self: center;
    }

    .img-wrapper{
        position:relative;
        border-radius: $border-radius;

        .main-image{
            display: block;
            width: 100%;
            height: auto;
            border-radius: $border-radius;
        }

        .overlay{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            @include mixins.flex-row($justify-content: center);
            background-color:$overlay-color; 
            opacity: 0;
            border-radius: $border-radius;
        }

        &:hover .overlay{
            opacity: 1;
            cursor: pointer;
        }

    }

    .flex-box{
        @include mixins.flex-row($justify-content: space-between);
        .flex__one{
            @include mixins.flex-row;
            p{
                color: $cyan;
                font-weight: bold;
            }
        }

        .flex__two{
            @include mixins.flex-row;
        }
    }

    .avatar{
        @include mixins.flex-row($justify-content: start, $gap: 1rem);
        img {
            align-self: center;
            border-radius: 50%;
            width: $avatar-image;
            height: $avatar-image;
            border: 1px solid white;
        }
        span{
            font-weight: bold;
            color: white;
            &:hover{
                color: $cyan;
                cursor: pointer;
            }
        }
    }
}